<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AMONIC_Airlines.Properties.Settings.Session1_SergeevaConnectionString"
            connectionString="Data Source=LAPTOP-73SLB28S;Initial Catalog=Session1_Sergeeva;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>